

@model List<Utente>;

@{
    ViewData["Title"] = "Prova";
}
<h3>Utenti</h3>
<table>


    @foreach (var item in Model)
    {
    <tr>
        <td>@item.id_utente</td>
        <td>@item.password</td>
    </tr>
    }
</table>