

@*@model List<Piatto>;*@

@{
    ViewData["Title"] = "Prova";
}

@*<table>


    @foreach (var item in Model)
    {
    <tr>
        <td>@item.Nome</td>
        <td>@item.Prezzo</td>
    </tr>
    }
</table>*@