@using Ristorante.VievModels
@using Microsoft.AspNetCore.Identity

@inject SignInManager<IdentityUser> signInManager
@inject UserManager<IdentityUser> userManager
@model RegisterViewModel


@{
    ViewData["Title"] = "Registrati";
}


@section Styles{
    <style>
        #smain {
            border-bottom: none;
        }

        #information p {
            color: white;
            font-size: 20px;
            width: 50%;
            margin: auto;
        }

        #signupDiv {
            width: 50%;
            margin: auto;
        }
    </style>

}

@{
    if ((signInManager.IsSignedIn(User)))
    {
        @section information {<p> Grazie per la tua registrazione  @User.Identity.Name!</p>}

    }

    else
    {
        @section information{ <p> Registrati! </p>}
    }

    <div id="signupDiv">
        <form method="post" asp-controller="Home" asp-action="Registrazione">

            <input asp-for="Username" id="username1" placeholder="Scegli la tua username" autofocus />
            <span asp-validation-for="Username" style="color:white;"></span>

            <input asp-for="Email" id="email" placeholder="Email">
            <span asp-validation-for="Email" style="color:white;"></span>

            <input asp-for="Password" id="password1" placeholder="Password">
            <span asp-validation-for="Password" style="color:white;"></span>

            <input asp-for="ConfirmPassword" id="password2" placeholder="Ripeti la password">
            <span asp-validation-for="ConfirmPassword"style="color:white;"></span>

            <div asp-validation-summary="All" style="color:white;font-size:10px;"></div>

            <button type="submit" id="registrati">Registrati</button>
        </form>
    </div>

}

