@using Ristorante.VievModels
@using Microsoft.AspNetCore.Identity

@inject SignInManager<IdentityUser> signInManager
@inject UserManager<IdentityUser> userManager
@model RegisterViewModel


@{
    ViewData["Title"] = "Registrati";
}



<style>
    #smain {
        border-bottom: none;
    }

    #information p {
        color: white;
        font-size: 20px;
    }
</style>

@{
    if ((signInManager.IsSignedIn(User)))
    {
        @section information {<p> Grazie per la tua registrazione  @User.Identity.Name!</p>}

    }

    else 
    {
        @section information{ <p> Registrati! </p>}
    }

    <div id="signupDiv">
        <form method="post" asp-controller="Home" asp-action="Registrazione">
            <div asp-validation-summary="All" class="text-danger"></div>
            <input asp-for="Username" id="username1" placeholder="Scegli la tua username" autofocus />
            <span asp-validation-for="Username" class="text-danger"></span>
            <input asp-for="Password" id="password1" placeholder="Password">
            <span asp-validation-for="Password" class="text-danger"></span>
            <input asp-for="ConfirmPassword" id="password2" placeholder="Ripeti la password">
            <span asp-validation-for="ConfirmPassword" class="text-danger"></span>
            <button type="submit" id="registrati">Registrati</button>
        </form>
    </div>

}

