@model Ristorante.Models.Piatto

@{
    ViewData["Title"] = "Create";
    Layout = "~/Views/Shared/_Adminpage.cshtml";
}



<h4>Inserisci un nuovo Piatto</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Nome" class="control-label"></label>
                <input asp-for="Nome" class="form-control" required />
                <span asp-validation-for="Nome" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Prezzo" class="control-label"></label>
                <input asp-for="Prezzo" class="form-control" required />
                <span asp-validation-for="Prezzo" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Tipo_piatto" class="control-label" ></label>
                <select asp-for="Tipo_piatto" class="form-control" required>
                    <option value="" selected></option>
                    <option value="P1">P1</option>
                    <option value="P2">P2</option>
                    <option value="P3">P3</option>
                    <option value="P4">P4</option>
                    <option value="P5">P5</option>

                </select>
            </div>
            <div class="form-group">
                <input type="submit" value="Inserisci" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-controller="Admin" asp-action="VediMenu">Torna alla lista</a>
</div>

