
@*<h1 class="text-white">@Startup.LoggedIn</h1>*@
<style>
    #logindiv h3{
        color:#ffa17a;
        margin:auto;
        margin-top:10%;
        text-align:center;

       
    }
</style>
@{
    if (Startup.LoggedIn)
    {
        <h3>Ciao @Startup.Username!</h3>
    }
    else
    {
        <form id="logform" method="post">
            <i class="fa fa-user"></i>
            <input type="text" id="username" placeholder="username" name="username">
            <i class="fa fa-lock"></i>
            <input type="password" id="password" placeholder="password" name="password">
            <button type="submit" id="submit" asp-controller="Home" asp-action="Login">Accedi</button>
            <button id="registrati">Registrati</button>
        </form>
    }
}
