
@using Ristorante.VievModels
@using Microsoft.AspNetCore.Identity

@inject SignInManager<IdentityUser> signInManager
@inject UserManager<IdentityUser> userManager
@model LoginViewModel

@{
    if ((signInManager.IsSignedIn(User)))
    {
        <h3>Benvenuto @User.Identity.Name!</h3>
        <form  id ="logoutform" method="post" asp-controller="Home" asp-action="Logout">
           <button id="logout">Logout</button>
    </form>
            }

            else
            {
<form id="logform" method="post">
    <div asp-validation-summary="All" class="text-danger" style="font-size:10px"></div>
    <i class="fa fa-user"></i>
    <input asp-for="Username" id="username" placeholder="username" autofocus>
    <span asp-validation-for="Username" class="text-danger"></span>
    <i class="fa fa-lock"></i>
    <input asp-for="Password" id="password" placeholder="password">
    <span asp-validation-for="Password" class="text-danger"></span>
    <button type="submit" id="submit" asp-controller="Home" asp-action="Login">Accedi</button>
    <button id="registrati" asp-controller="Home" asp-action="Registrati">Registrati</button>
</form>
            }
        }
