
@using Ristorante.VievModels
@using Microsoft.AspNetCore.Identity


@inject SignInManager<IdentityUser> signInManager
@inject UserManager<IdentityUser> userManager
@*@model LoginViewModel*@

@{
    if ((signInManager.IsSignedIn(User)))
    {
        <h3>Benvenuto @User.Identity.Name!</h3>
        <form id="logoutform" method="post" asp-controller="Account" asp-action="Logout">
            <button id="logout">Logout</button>
        </form>
    }

    else
    {
        
        
            <a class="link-btn" asp-controller="Account" asp-action="Login" style="text-decoration:none;
            font-size:10px;">Accedi</a>
      
            <a class="link-btn" asp-controller="Account" asp-action="Registrati" style="text-decoration:none;
            font-size:10px;">Registrati</a>
       
    }
}
