@*<h1 class="text-white">@Startup.LoggedIn</h1>*@


@{
    if (Startup.LoggedIn == 1)
    {
        <h3>Ciao @Startup.Username!</h3>
        <a id="logout"  asp-controller="Home" asp-action="Logout"> Logout</a>
       
    }

    else if (Startup.LoggedIn == 0 || Startup.LoggedIn==2)
    {
        <form id="logform" method="post">
            <i class="fa fa-user"></i>
            <input type="text" id="username" placeholder="username" name="username">
            <i class="fa fa-lock"></i>
            <input type="password" id="password" placeholder="password" name="password">
            <button type="submit" id="submit" asp-controller="Home" asp-action="Login">Accedi</button>
            <button id="registrati" asp-controller="Home" asp-action="Registrati">Registrati</button>
        </form>
    }
}
