
@using Ristorante.VievModels
@using Microsoft.AspNetCore.Identity


@inject SignInManager<IdentityUser> signInManager
@inject UserManager<IdentityUser> userManager
@model LoginViewModel

@{
    if ((signInManager.IsSignedIn(User)))
    {
        <h3>Benvenuto @User.Identity.Name!</h3>
        <form  id ="logoutform" method="post" asp-controller="Home" asp-action="Logout">
           <button id="logout">Logout</button>
    </form>
            }

            else
            {
<form id="logform" class="form-inline ml-auto"  method="post" asp-controller="Home" 
      asp-action="Login">
    @if (Startup.Conferma == 3)

    {
        <div style="font-size:12px">Dati non corretti </div>
    }
  
   

    <i class="fa fa-user"></i>
    <input asp-for="Username" id="username" placeholder="username" autofocus>

    <i class="fa fa-lock"></i>
    <input asp-for="Password" id="password" placeholder="password">



    <button type="submit" id="submit">Accedi</button>
    <button id="registrati" asp-controller="Home" asp-action="Registrati">Registrati</button>

</form>
            }
        }
