
@*
    For more information on enabling MVC for empty projects, visit http://go.microsoft.com/fwlink/?LinkID=397860
*@
<style>
    p{
        color:white;
        font-size:12px;
    }
</style>
@{ 
    <p> errore </p>
}